<div class="footer">
    <div class="footer-icons">
        <a href="https://github.com/Kugelschieber" target="_blank">
            <img src="assets/icons/github.svg" alt="GitHub" />
        </a>
        <a href="https://twitter.com/m5blum" target="_blank">
            <img src="assets/icons/twitter.svg" alt="Twitter" />
        </a>
        <a href="https://www.indiehackers.com/m5blum" target="_blank">
            <img src="assets/icons/indiehackers.svg" alt="IndieHackers" />
        </a>
        <a href="/cv">
            <img src="assets/icons/cv.svg" alt="GitHub" />
        </a>
    </div>
    <p>
        <small>© 2021 Marvin Blum. This page does not use cookies. Website Analytics by Pirsch.</small>
    </p>
    <p>
        <small>
            <a href="/legal">Legal</a>
        </small>
    </p>
</div>
