{{template "head.html"}}

<div class="title">
    <div>
        <h1>marvin blum</h1>
        <h2>welcome to my website!</h2>
    </div>
    <img src="../static/avatar_100.jpg" alt="Marvin Blum" />
</div>

{{template "menu.html"}}

<section>
    <h2>who am I?</h2>
    <p>
        I'm a full stack software engineer from Germany, open source and Linux enthusiast and co-founder of <a href="https://emvi.com/" target="_blank">Emvi</a>.
        In love with Go, but fluent in a lot of programming languages.
    </p>
</section>
<section>
    <h2>latest blog posts</h2>
    {{range $article := .Articles}}
        <p>
            <a href="/blog/{{slug $article.LatestArticleContent.Title}}-{{$article.Id}}">{{$article.LatestArticleContent.Title}}</a>
            <small>{{format $article.Published "2. January 2006"}}</small>
        </p>
    {{else}}
        <p>There are no blog posts yet...</p>
    {{end}}
    <p>
        <a href="/blog">View all</a>
    </p>
</section>
<section>
    <h2>projects</h2>
    <ul>
        <li>
            <a href="https://emvi.com/" target="_blank">Emvi</a> a note taking, collaboration and knowledge management tool for personal use and teams of any size
        </li>
        <li>
            <a href="https://github.com/emvi/logbuch" target="_blank">logbuch</a> a simple Golang logging library
        </li>
        <li>
            <a href="https://github.com/emvi/null" target="_blank">null</a> a Golang library for nullable types supporting databases and json
        </li>
        <li>
            <a href="https://github.com/emvi/hide" target="_blank">hide</a> a Golang library to obscure IDs on the API layer
        </li>
        <li>
            <a href="https://github.com/assetto-corsa-web/accweb" target="_blank">accweb</a> a web interface to manage game servers
        </li>
    </ul>
</section>
<section>
    <h2>skills</h2>
    <ul>
        <li>Go (Golang)</li>
        <li>JavaScript (Vue, Node)</li>
        <li>HTML, CSS, Sass and all the web fuzz</li>
        <li>Java</li>
        <li>PHP</li>
        <li>Linux</li>
        <li>Docker</li>
        <li>Kubernetes</li>
        <li>... and more</li>
    </ul>
</section>
<section>
    <h2>work</h2>
    <ul>
        <li>
            <a href="https://emvi.com/" target="_blank">Emvi</a> co-founder of a note taking, collaboration and knowledge management SaaS startup
        </li>
        <li>
            <a href="https://skalar.marketing/" target="_blank">skalar marketing</a> as a full stack developer and web designer
        </li>
        <li>
            <a href="https://www.bertelsmann.com/divisions/arvato/#st-1" target="_blank">arvato</a> as a Java developer
        </li>
        <li>
            some freelancing from time to time
        </li>
    </ul>
</section>

{{template "end.html"}}
