{{template "head.html"}}
{{template "menu.html"}}

<section>
    <h1>Blog</h1>
</section>
{{range $year, $articles := .Articles}}
    <section>
        <h2>{{$year}}</h2>

        {{range $article := $articles}}
            <p>
                <small>{{format $article.Published "2. January 2006"}}</small>
                <br />
                <a href="/blog/{{slug $article.LatestArticleContent.Title}}-{{$article.Id}}">{{$article.LatestArticleContent.Title}}</a>
            </p>
        {{end}}
    </section>
{{else}}
    <section>
        <p>There are no blog posts yet...</p>
    </section>
{{end}}

{{template "end.html"}}
