    <hr />
    <section>
        <p>
            Would you like to see more? Read my blog articles on <a href="https://emvi.com/blog" target="_blank">Emvi</a>, my project page on <a href="https://github.com/Kugelschieber" target="_blank">GitHub</a> or send me a <a href="mailto:marvin@marvinblum.de">mail</a>.
        </p>
        <p>
            This page uses <a href="https://concrete.style/" target="_blank">concrete</a> for styling. Check it out!
        </p>
        <p>
            This page does not use Cookies. <a href="/legal">Legal</a>
        </p>
    </section>
</body>
</html>
