<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="copyright" content="Marvin Blum" />
    <meta name="author" content="Marvin Blum" />
    <meta name="title" content="Marvin Blum" />
    <meta name="description" content="A full stack software engineer from Germany, open source and Linux enthusiast and co-founder of Emvi." />
    <meta name="msapplication-TileColor" content="#000000" />
    <meta name="theme-color" content="#000000" />
    <meta name="twitter:card" content="profile" />
    <meta name="twitter:site" content="@m5blum" />
    <meta name="twitter:title" content="Marvin Blum" />
    <meta name="twitter:description" content="A full stack software engineer from Germany, open source and Linux enthusiast and co-founder of Emvi." />
    <meta name="twitter:image" content="https://marvinblum.de/avatar.png" />
    <meta property="og:url" content="https://marvinblum.de/" />
    <meta property="og:title" content="Marvin Blum" />
    <meta property="og:description" content="A full stack software engineer from Germany, open source and Linux enthusiast and co-founder of Emvi." />
    <meta property="og:image" content="https://marvinblum.de/avatar.png" />
    <title>marvin blum</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png" />
    <link rel="manifest" href="../static/favicon/site.webmanifest" />
    <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <link rel="stylesheet" type="text/css" href="../static/normalize.css" />
    <link rel="stylesheet" type="text/css" href="../static/concrete.css" />
    <link rel="stylesheet" type="text/css" href="../static/style.css" />
</head>
<body>
