@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: normal;
    font-stretch: 100%;
    font-display: swap;
    src: url("../font/OpenSans-Italic.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-stretch: 100%;
    font-display: swap;
    src: url("../font/OpenSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-stretch: 100%;
    font-display: swap;
    src: url("../font/OpenSans-Bold.ttf") format("truetype");
}

@font-face {
    font-family: "Open Sans";
    font-style: italic;
    font-weight: bold;
    font-stretch: 100%;
    font-display: swap;
    src: url("../font/OpenSans-BoldItalic.ttf") format("truetype");
}
