html, body {
    margin: 0;
    padding: 0;
}

body {
    max-width: 700px;
    padding: 100px 20px 400px 20px;
    margin: 0 auto;
}

.title {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.title div {
    flex-grow: 1;
}

.title h1 {
    font-size: 48px;
    margin-bottom: 10px;
    line-height: 1;
}

.title h2 {
    font-weight: normal;
    margin-top: 0;
    line-height: 1;
}

.title img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 100%;
    display: block;
    margin-left: 20px;
}

.menu {
    display: flex;
}

.menu .button {
    margin-right: 10px;
}

.tracking {
    width: 100%;
    height: 300px;
}

.tracking-form {
    display: flex;
    align-items: center;
}

.tracking-form input {
    margin: 3px 6px 3px 0;
}

input {
    padding: 2px;
}

section {
    margin: 80px 0;
}

p {
    line-height: 1.5;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 700px) {
    body {
        padding: 40px 20px 80px 20px;
    }

    .title h1 {
        font-size: 36px;
    }

    .title h2 {
        font-size: 24px;
    }

    .title img {
        max-width: 72px;
        max-height: 72px;
    }

    .menu {
        display: block;
    }

    .tracking-form {
        display: block;
    }
}
