<!DOCTYPE html>
<html lang="en">
    <head>
        <base href="/" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="copyright" content="Marvin Blum" />
        <meta name="author" content="Marvin Blum" />
        <meta name="title" content="Marvin Blum — Full-Stack Software Developer" />
        <meta name="description" content="A full stack software engineer from Germany, open source and Linux enthusiast and co-founder of Emvi." />
        <meta name="twitter:card" content="profile" />
        <meta name="twitter:site" content="@m5blum" />
        <meta name="twitter:title" content="Marvin Blum" />
        <meta name="twitter:description" content="A full stack software engineer from Germany, open source and Linux enthusiast and co-founder of Emvi." />
        <meta name="twitter:image" content="https://marvinblum.de/assets/avatar.png" />
        <meta property="og:url" content="https://marvinblum.de/" />
        <meta property="og:title" content="Marvin Blum" />
        <meta property="og:description" content="A full stack software engineer from Germany, open source and Linux enthusiast and co-founder of Emvi." />
        <meta property="og:image" content="https://marvinblum.de/assets/avatar.png" />
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="assets/favicon/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <link rel="apple-touch-icon" sizes="57x57" href="assets/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="assets/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="assets/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="assets/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="assets/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="assets/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="assets/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="assets/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="assets/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="assets/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="assets/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon/favicon-16x16.png">
        <link rel="manifest" href="assets/favicon/manifest.json">
        <link rel="stylesheet" type="text/css" href="assets/style.css" />
        
        <title>Marvin Blum — Full-Stack Software Developer</title>

        <script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js"
            id="pirschjs"
            data-code="1vNLFfXQ6qdYSaa9x1CGNwLwFDbD19zT"></script>
    </head>
    <body>
